@media screen and (min-width: 768px) {
    * {
        text-align: center;
    }

    /*문제 나오는 박스*/
    .main1 {
        display: inline-block;
        margin: 100px auto;
        width: 50%;
    }

    ._question {
        width: 35vw;
        height: 72vh;
        margin: 4.5vh 0;
    }

    .question {
        position: absolute;
        left: 0;
        margin-left: 12%;
        top: 30%;
        font-size: 200%;
        overflow: auto;
    }

    .h_text {
        /*힌트를 보려면 누르세요*/
        position: absolute;
        top: 75vh;
        left: 18vw;
        font-size: 100%;

    }

    .hintKey {
        position: absolute;
        top: 72vh;
        left: 32.5vw;
        cursor: pointer;
    }


    .popupHint {
        position: absolute;
        top: 75vh;
        left: 18vw;
        font-size: 100%;
    }

    /*결과 입력창 나타나는 곳*/
    .main2 {
        display: inline-block;
        margin: 10vh auto;
        width: 50%;
        top: 0;
    }

    #result_rec {
        position: absolute;
        right: 4vw;
        width: 45vw;
        top: 15vh;
        height: 40vh;
    }

    .inputAnswer {
        position: absolute;
        border: none;
    }

    .answerBtn {
        position: absolute;
        top: 44vh;
        right: 21vw;
        cursor: pointer;
    }

    #_answerBtn {
        width: 190px;
        height: 70px;
    }


    .pocket {
        width: 50%;
        margin: auto;

    }

    ._pocket {
        height: 30vh;
    }
}

@media screen and (max-width: 768px) {

    .gamemiddle {
        display: block;
    }

    ._background {
        background: url("/public/img/game/background.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .main1 {
        display: block;
    }

    ._question {
        width: 80vw;
        height: 25vh;
        margin: 30px auto 0;
    }

    .h_text {
        position: absolute;
        top: 22vh;
        left: 32vw;
    }

    .hintKey {
        position: absolute;
        top: 21vh;
        left: 72vw;
    }

    ._hintkey {
        width: 30px;
    }

    .main2 {
        display: block;
    }

    #p_result_rec {
        width: 100%;
        /* height: 50vh; */
    }

    #result_rec {
        margin: 3vh auto 0;
        width: 85vw;
    }

    .answerBtn {
        width: 100%;
        position: absolute;
        top: 57vh;
    }

    #_answerBtn {
        width: 140px;
        height: 50px;
    }

    .pocket {
        width: 100%;
        margin: 5vh auto;
    }

    ._pocket {
        width: 75vw;
    }

}