/*모바일*/
@media screen and (max-width: 768px) {
    * {
        text-align: center;
    }

    .wrapper {
        background: url("/public/img/game/background.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .gameheader {
        height: 8vh;
        display: flex;
    }

    .header-box {
        padding-left: 2vw;
        padding-top: 1.3vw;
    }

    .circle {
        position: absolute;
        right: 6vw;
    }

    #circle {
        width: 179.5vw;
    }

    #logo {
        width: 25vw;
    }

    .gamemiddle {
        width: 100vw;
        height: 92vh;
        /*150vh*/
        display: flex;
        position: relative;
    }

    #escape {
        width: 70vw;
    }

    .escape {
        position: absolute;
        padding-top: 77vw;
        right: 0;
    }

    .howtoplay {
        position: absolute;
        padding-top: 145.5vw;
        left: 0;
        right: 0;
    }

    #howtoplay {
        width: 62vw;
    }
}

/*웹 아이패드- 가로모드 */
@media screen and (min-width:768px) {
    .wrapper {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: var(--gameHome-wrap-vw);
        height: var(--gameHome-wrap-vh);
    }


    .gameheader {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 55px;
        width: 100%;
        background: url("/public/img/game/header.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 3;
    }

    #logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto 0;
        width: 120px;
        margin-left: 20px;
    }

    /* 
    .header-box {
        padding-left: 1.8vw;
        padding-top: 1.2vw;
    } */


    .gamemiddle {
        display: inline-block;
        top: 0;
        width: 100%;
        height: 100%;
        position: relative;
        background-color: blueviolet;
        background-image: url(/public/img/game/background_web.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }


    #escape {
        width: 100%;
    }

    .escape {
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 12%;
        margin-right: 3%;
        width: 29%;
    }

    #howtoplay {
        width: 100%;
    }

    .howtoplay {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15%;
        margin-bottom: 3%;
        margin-right: 3%;
    }

    #howtoplay {
        width: 100%;
        height: 100%;
    }

    #circle {
        width: 100%;
    }

    .circle {
        position: absolute;
        left: -10%;
        top: -25%;
        width: 80%;
    }

}