  /*모바일*/
  @media screen and (max-width: 768px) {

      .background {
          width: 100vw;
          height: 100vh;
          position: fixed relative;
          z-index: 1;
      }

      .guideText {
          position: absolute;
          color: white;
          font-size: 1.9vh;
          font-weight: bold;
          top: 13%;
          left: 15%;
          z-index: 3;
      }

      .keyWindow {
          position: absolute;
          width: 83vw;
          height: 25vh;
          top: 17%;
          left: 8%;
      }

      .door {
          position: absolute;
          width: 75vw;
          height: 33vh;
          top: 44%;
          left: 12.6%;
      }

      .character {
          position: absolute;
          width: 88vw;
          height: 20vh;
          top: 79%;
          left: 8%;
      }

      .webkey {
          opacity: 0;
      }

      .mobilekey {
          position: absolute;
          width: 15vw;
          height: 6vh;
          top: 34%;
          left: 43%;
          cursor: pointer;
          z-index: 5;
      }

      .open {
          position: absolute;
          width: 87vw;
          height: 30vh;
          top: 33%;
          left: 6%;
      }

      .locked {
          position: absolute;
          width: 87%;
          top: 35%;
          left: 6%;
      }

      .replay {
          position: absolute;
          width: 32vw;
          height: 6vh;
          top: 85%;
          left: 35%;
      }

      .retype {
          position: absolute;
          width: 0vw;
          height: 0vh;
          top: 0%;
          left: 0%;
      }

      .retype_mobile {
          position: absolute;
          width: 7vw;
          height: 11vh;
          top: 43%;
          left: 3%;
      }

      .word1 {
          position: absolute;
          color: white;
          top: 85%;
          left: 55%;
          font-size: 4vw;
          cursor: pointer;
          font-weight: bold;
      }

      .word2 {
          position: absolute;
          color: white;
          top: 88%;
          left: 25%;
          font-size: 4vw;
          cursor: pointer;
          font-weight: bold;
      }

      .word3 {
          position: absolute;
          color: white;
          top: 84%;
          left: 48%;
          font-size: 4vw;
          cursor: pointer;
          font-weight: bold;
      }

      .word4 {
          position: absolute;
          color: white;
          top: 86%;
          left: 38%;
          font-size: 4vw;
          cursor: pointer;
          font-weight: bold;
      }

      .word5 {
          position: absolute;
          color: white;
          top: 85%;
          left: 33%;
          font-size: 4vw;
          cursor: pointer;
          font-weight: bold;
      }

      .word6 {
          position: absolute;
          color: white;
          top: 87%;
          left: 45%;
          font-size: 4vw;
          cursor: pointer;
          font-weight: bold;
      }

      .word7 {
          position: absolute;
          color: white;
          top: 85%;
          left: 23%;
          font-size: 4vw;
          cursor: pointer;
          font-weight: bold;
      }

      .word8 {
          position: absolute;
          color: white;
          top: 87%;
          left: 35%;
          font-size: 4vw;
          cursor: pointer;
          font-weight: bold;
      }

      .array {
          position: absolute;
          float: left;
          top: 25%;
          left: 18%;
          font-size: 6vw;
          z-index: 6;
      }

      .eachword {
          margin-right: 5.5vw;
      }

      .answerBtn {
          position: absolute;
          width: 83vw;
          height: 25vh;
          /* top: 131px; */
          top: 17%;
          left: 8%;
      }

      .lasttext {
          position: absolute;
          top: 26%;
          right: 26%;
          font-family: 'Hahmlet', serif;
          font-size: 190%;
      }
  }

  /*PC*/
  @media screen and (min-width: 768px) {

      .background {
          position: fixed relative;
          width: 100vw;
          height: 100vh;
          top: 0%;
          left: 0%;
          z-index: 1;
          background-repeat: no-repeat;
          pointer-events: auto;
      }

      .guideText {
          position: absolute;
          color: white;
          font-size: 2.3vh;
          font-weight: bold;
          top: 17%;
          left: 61%;
          z-index: 3;
      }

      .keyWindow {
          position: absolute;
          width: 44vw;
          height: 42vh;
          top: 22%;
          left: 51%;
      }

      .door {
          position: absolute;
          width: 33%;
          top: 24%;
          left: 6.25%;
      }

      .character {
          position: absolute;
          width: 44vw;
          height: 25vh;
          top: 69%;
          left: 56%;
      }

      .webkey {
          position: absolute;
          width: 6.5vw;
          height: 7vh;
          top: 50%;
          left: 70%;
          cursor: pointer;
          cursor: hand;
          z-index: 5;
      }

      .mobilekey {
          opacity: 0;
      }

      .open {
          position: absolute;
          width: 65vw;
          height: 59vh;
          top: 23%;
          left: 17%;
      }

      .locked {
          position: absolute;
          width: 44vw;
          height: 59vh;
          top: 17%;
          left: 27%;
      }

      .replay {
          position: absolute;
          width: 15%;
          top: 83%;
          left: 42%;
      }

      .retype {
          position: absolute;
          width: 10vw;
          height: 5vh;
          top: 67%;
          left: 51%;
      }

      .retype_mobile {
          position: absolute;
          width: 0vw;
          height: 0vh;
          top: 0%;
          left: 0%;
      }

      .word1 {
          position: absolute;
          color: white;
          top: 79%;
          left: 70%;
          font-size: 2vw;
          font-weight: bold;
          cursor: pointer;
      }

      .word2 {
          position: absolute;
          color: white;
          top: 80%;
          left: 65%;
          font-size: 2vw;
          font-weight: bold;
          cursor: pointer;
      }

      .word3 {
          position: absolute;
          color: white;
          top: 75%;
          left: 80%;
          font-size: 2vw;
          font-weight: bold;
          cursor: pointer;
      }

      .word4 {
          position: absolute;
          color: white;
          top: 77%;
          left: 75%;
          font-size: 2vw;
          font-weight: bold;
          cursor: pointer;
      }

      .word5 {
          position: absolute;
          color: white;
          top: 76%;
          left: 72%;
          font-size: 2vw;
          font-weight: bold;
          cursor: pointer;
      }

      .word6 {
          position: absolute;
          color: white;
          top: 75%;
          left: 67%;
          font-size: 2vw;
          font-weight: bold;
          cursor: pointer;
      }

      .word7 {
          position: absolute;
          color: white;
          top: 76%;
          left: 69%;
          font-size: 2vw;
          font-weight: bold;
          cursor: pointer;
      }

      .word8 {
          position: absolute;
          color: white;
          top: 80%;
          left: 80%;
          font-size: 2vw;
          font-weight: bold;
          cursor: pointer;
      }

      .array {
          position: absolute;
          float: left;
          top: 33%;
          left: 56%;
          font-size: 4vw;
          z-index: 6;
      }

      .eachword {
          margin-right: 2.7vw;
      }

      .lasttext {
          position: absolute;
          font-family: 'Hahmlet', serif;
          right: 43%;
          top: 7.5%;
          font-size: 300%;
      }
  }