@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300;400;500&display=swap');

@media screen and (min-width: 768px) {
    * {
        text-align: center;
    }

    ._background {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    /*문제 나오는 박스*/
    .main1 {
        display: inline-block;
        margin: 100px auto;
        width: 50%;
    }

    ._question {
        width: 35vw;
        height: 72vh;
        margin: 4.5vh 0;
    }

    .question {
        position: absolute;
        left: 0;
        margin-left: 12%;
        top: 30%;
        font-size: 200%;
        overflow: auto;
        width: 27%;

        font-family: 'Hahmlet', serif;
        font-weight: 700;
        color: #442121;
    }

    .h_text {
        /*힌트를 보려면 누르세요*/
        position: absolute;
        top: 80%;
        left: 12%;
        font-size: 100%;
        font-family: 'Hahmlet', serif;
        font-weight: 700;
        color: #442121;

    }

    .hintKey {
        position: absolute;
        top: 76%;
        left: 23%;
        cursor: pointer;
    }


    .popupHint {
        position: absolute;
        top: 75vh;
        left: 18vw;
        font-size: 100%;
        font-family: 'Hahmlet', serif;
        font-weight: 700;
        color: #442121;
    }

    /*결과 입력창 나타나는 곳*/
    .main2 {
        display: inline-block;
        margin: 10vh auto;
        width: 50%;
        top: 0;
    }

    .wrong {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 9%;
        margin-right: 30%;
        width: 15%;
        z-index: 2;
    }

    #result_rec {
        position: absolute;
        right: 4%;
        width: 45%;
        top: 15%;
        height: 45%;
        z-index: 1;
    }

    .inputAnswer {
        position: absolute;
        border: none;
    }

    .ansBtn {
        position: absolute;
        top: 47%;
        right: 16%;
        cursor: pointer;
        z-index: 3;
    }

    #_answerBtn {
        width: 55%;
    }


    .pocket {
        width: 50%;
        margin: auto;

    }

    ._pocket {
        height: 30vh;
    }

    .inputbar {
        position: absolute;
        background-color: rgb(252, 208, 214);
        right: 6%;
        bottom: 58%;
        width: 40%;
        height: 10%;
        z-index: 3;
        border-radius: 50px;
        border: none;
        font-size: 150%;
    }

    .popupHint {
        position: absolute;
        width: 25%;
        left: 12%;
        top: 70%;
    }
}

@media screen and (max-width: 768px) {

    .gamemiddle {
        display: block;
        position: relative;
    }

    ._background {
        background: url("/public/img/game/background.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .main1 {
        display: block;
    }

    .question {
        position: absolute;
        width: 55%;
        right: 26%;
        top: 5%;
        font-family: 'Hahmlet', serif;
        font-weight: 700;
        color: #442121;
    }

    ._question {
        width: 80vw;
        height: 30vh;

    }

    .h_text {
        position: absolute;
        top: 25%;
        left: 20%;

        font-family: 'Hahmlet', serif;
        font-weight: 700;
        color: #442121;
    }

    .hintKey {
        position: absolute;
        top: 21vh;
        left: 72vw;
    }

    ._hintkey {
        position: absolute;
        width: 30px;
    }

    .main2 {
        display: block;
    }

    #p_result_rec {
        width: 100%;
        /* height: 50vh; */
    }

    #result_rec {
        margin: 3vh auto 0;
        width: 80vw;
    }

    .ansBtn {
        width: 100%;
        position: absolute;
        top: 57vh;
    }

    #_answerBtn {
        position: absolute;
        width: 30%;
        left: 0;
        margin-left: 33%;
        bottom: 0;
    }

    .pocket {
        width: 100%;
        margin: 5vh auto;
    }

    ._pocket {
        width: 75vw;
    }

    .wrong {
        position: absolute;
        width: 25%;
        left: 0;
        margin-left: 14%;
        top: 40%;
    }

    .inputbar {
        position: absolute;
        background-color: rgb(252, 208, 214);
        right: 21%;
        bottom: 47%;
        width: 60%;
        height: 5%;
        z-index: 3;
        border-radius: 50px;
        border: none;
    }

    .popupHint {
        position: absolute;
        width: 70%;
        right: 13%;
        top: 22%;
        font-family: 'Hahmlet', serif;
        font-weight: 700;
        color: #442121;
    }

}