  /*모바일*/
  @media screen and (max-width: 768px) {
      .header {
          background: url("/public/img/game/header.png");
          position: relative;
          width: 100vw;
          height: 6vh;
      }

      .logo {
          position: absolute;
          width: 27vw;
          height: 5vh;
          top: 2%;
          left: 2%;
      }

      .exit {
          position: absolute;
          width: 11vw;
          height: 5vh;
          top: 8%;
          left: 84%;
      }
  }

  /*웹*/
  @media screen and (min-width: 768px) {
      .header {
          background: url("/public/img/game/header.png");
          position: relative;
          width: 100vw;
          height: 12vh;
      }

      .logo {
          position: absolute;
          width: 14vw;
          height: 8vh;
          top: 11%;
          left: 2%;
      }

      .exit {
          position: absolute;
          width: 6vw;
          height: 8vh;
          top: 18%;
          left: 92%;
      }
  }