.goodsDetailBox{
    display: none;
    /* display: block; */
    top: 245px;
    position: absolute;
    left: 50%;
  transform: translateX(-50%);
}

.goodsBox{
    background-color: #FFF0D0;
    display: flex;
    justify-content: center;
    /* height: 90vh;
    padding: 100px; */

    /* 민정 수정 */
    height: 100vh;
    align-items: center;
}

.goodsArray{
    /* background-color: black; */
    width: 909px;
    /* height: 606px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* 민정 수정 */
    padding-top: 60px;
}

.goodsArray img {
    width: 233px;
    height: 233px;
    /* background-color: red; */
    margin: 35px;
}

.goodsData{
    display: none;
}
.goodsArrayBox{
    width: fit-content;
}

.goodsBtn2Buy{
    display: none;
}

@media screen and (max-width: 768px) {
    .goodsDetailBox{
        display: none;
        /* display: block; */
        top: 50px;
        position: absolute;
        left: 50%;
      transform: translateX(-50%);
    }

    .goodsBox{
        padding: 50px;
    }
    .goodsArray{
        /* height: 780px;   */

        /* 민정 수정 */
        height: 90vh;
        padding-top : 0px;      
    }

    .goodsArray img {
        width: 110px;
        height: 110px;
        /* background-color: red; */
        margin: 10px;
    }

    /* 민정 수정 */
    .goodsArrayBox {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .goodsData{
        display:block;
        width: fit-content;
        /* margin-left: 40px; */
    }

    .goodsData p{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #A7B8CB;
    }

    .goodsBtn2Buy{
        display: block;
    }

}

/* iphone SE 버전 */
@media screen and (device-width: 375px) and (device-height: 667px) {
    .goodsArray {
        padding-bottom: 5vh;
    }
}