.goodsBox{
    background-color: #FFF0D0;
    display: flex;
    justify-content: center;
    height: 780px;
    align-items: center;
}

.goodsArray{
    /* background-color: black; */
    width: 909px;
    height: 606px;
}

.goodsArray img {
    width: 233px;
    height: 233px;
    /* background-color: red; */
    margin: 35px;
}