@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.goodsDetailBox{
    background-color: #F5C7BA;
    /* width: 1311px; */
    /* height: 745px;   */
    border-radius: 20px; 
    padding-bottom: 50px;
    width: 80vw;
}

.closeBtn{
    font-weight: 600;
    font-size: 60px;
    color: white;
    float: right;
    padding: 40px;
}

.goodsDetail{
    padding: 75px 50px 0px 80px;
    /* float: left; */
    display: flex;
}

.goodsDetail img{
    padding-left: 40px;
    width: 290px;
    height: 290px;
}

.goodsDetailText{
    padding: 50px 50px 35px 50px;
    float: left;
}

.goodsDetailText h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
    padding-bottom: 10px;
    width: fit-content;

}

.goodsDetailText h5{
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    color: #9B9B9B;
    width: fit-content;
    padding-bottom: 20px;

}

.goodsBtn2Buy{
    width: 200px;
    height: 65px;
    background: #EB7979;
    border-radius: 52px;
    border-style: none;

    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    float: left;
}

.detailImgBox {
    width: 80vw;
    display: flex;
    padding-left: 70px;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.detailImgBox img {
    width: 280px;
    height: 280px;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .goodsDetailBox{
        width: 90%;
    }

    .closeBtn {
        font-size: 31px;
        padding: 25px;
    }

    .goodsDetail img {
        padding: 0px;
        padding-right: 17px;
        width: 170px;
        height: 170px;
    }

    .goodsDetail {
        padding: 50px 10px 0px 27px;
        /* float: left; */
        display: flex;
    }
    .goodsDetailText {
        padding: 0px;
        float: left;
    }

    .goodsDetailText h1 {
        font-weight: 600;
        font-size: 20px;
        line-height: 20px;
    }

    .goodsDetailText h5 {
        font-weight: 600;
        font-size: 10px;
        line-height: 10px;
        color: #9B9B9B;
        /* width: -moz-fit-content; */
        width: fit-content;
        padding-bottom: 5px;
    }

    .goodsBtn2Buy {
        width: 96px;
        height: 39px;
        background: #EB7979;
        border-radius: 52px;
        border-style: none;
        color: white;
        font-weight: 600;
        /* font-size: 26px; */
        font-size: 17px;
        text-align: center;
        float: left;
        line-height: 42px;
    }

    .detailImgBox img {
        width: 130px;
        height: 130px;
        padding: 10px;
    }
    .detailImgBox {
        width: 90%;
        padding-left: 0px;
        justify-content: space-evenly;
    }

}

/* 민정 팝업 수정 */
#goodsModalBox {
    /* 모달 박스 */
    position: fixed;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translate(-50%, -45%);
    background-color: #F5C7BA;
    width: 70vw;
    border-radius: 20px;
}

#goodsModalCloseBtn {
    /* 모달 x버튼 */
    display: flex;
    justify-content: flex-end;
    color: #FFFFFF;
    font-size: 40px; 
    margin-top: 1vw;
    margin-right: 2vw;
}

#goodsModalInfo {
    /* 굿즈 정보 - 사진, 텍스트 */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left: 10vw;
}

#goodsModalTitleImg {
    /* 굿즈 대표이미지 */
    width: 15vw;
    margin-right: 3vw;
}

#goodsModalText {
    /* 굿즈 텍스트 */
    font-family: 'Pretendard-Regular';
    line-height: 45px;
}

#goodsTitle {
    /* 굿즈 이름 */
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: left;
}

#goodsPrice {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: left;
}

#goodsDesc {
    font-size: 25px;
    color: #9B9B9B;
    text-align: left;
}

#goodsModalBuyBtn {
    /* 구매하기 버튼 */
    width: 96px;
    height: 35px;
    background: #EB7979;
    border-radius: 30px;
    border-style: none;
    color: white;
    font-weight: 600;
    /* font-size: 26px; */
    font-size: 17px;
    text-align: center;
    float: left;
    font-family: 'Pretendard-Regular';
}

#goodsModalDetailDiv {
    /* 상세 이미지들 큰 묶음 */
    margin-top: 8vh;

    display: flex;
    width: 60vw;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
}

#goodsModalDetailImg {
    width: 15vw;
}

#goodsFloatingBtn {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 19%);
    border-radius: 56px;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 150px;
    left: 85vw;
}

/* 모바일 */
@media screen and (max-width: 768px) {

    #goodsModalBox {
        width: 90vw;
    }

    #goodsModalInfo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    #goodsModalTitleImg {
        width: 40vw;
        margin-right: 3vw;
    }

    #goodsModalText {
        /* 굿즈 텍스트 */
        font-family: 'Pretendard-Regular';
        line-height: 40px;
    }

    #goodsTitle {
        /* 굿즈 이름 */
        font-size: 28px;
        font-weight: bold;
        color: white;
        text-align: left;
    }
    
    #goodsPrice {
        font-size: 25px;
    }
    
    #goodsDesc {
        font-size: 20px;
    }

    #goodsModalDetailDiv {
        /* 상세 이미지들 큰 묶음 */
        display: inline-block;
        width: 80vw;
    }

    #goodsModalDetailImg {
        width: 30vw;
        margin: 2vw;
    }

    #goodsFloatingBtn {
        display: none;
    }
}
