@media screen and (max-width: 779px) {
  #bee_page3 {
    overflow: hidden;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /*background-color: blue;*/
    background-image: url("/public/img/cartoon/bee/page3/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .phoneFrame_wrap {
    width: 100%;
    height: 100%;
  }
  .phoneFrame {
    width: 100%;
    height: 100%;
  }
  .phoneFrameInside {
    width: 100%;
    height: 100%;
  }
}

.cloud {
  right: 0;
  bottom: 0;
}
#cloud1 {
  visibility: var(--cloud1);
  height: 3.5%;
  margin-bottom: 80%;
  margin-right: 25%;
  content: url(/public/img/cartoon/bee/page3/cloud1.png);
}
#cloud2 {
  visibility: var(--cloud2);
  height: 6%;
  margin-bottom: 86%;
  margin-right: 15%;
  content: url(/public/img/cartoon/bee/page3/cloud2.png);
}
#cloud3 {
  visibility: var(--cloud3);
  height: 8%;
  margin-bottom: 100%;
  margin-right: 15%;
  content: url(/public/img/cartoon/bee/page3/cloud3.png);
}
#cloud4 {
  visibility: var(--cloud4);
  width: 120%;
  top: 0;
  left: 0;
  margin-left: -10%;
  margin-top: -5%;
  content: url(/public/img/cartoon/bee/page3/cloud4.png);
}
#cloud4_effect {
  visibility: var(--cloud4-effect);
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-top: 6%;
  content: url(/public/img/cartoon/bee/page3/cloud4_effect.png);
}
