.progress {
  position: absolute;
  height: 53%;
  top: 0;
  left: 0;
  margin-top: 3.7%;
  margin-left: 3%;
}
.progress_ {
  position: absolute;
  height: 53%;
  top: 0;
  left: 0;
  margin-top: 3.3%;
  margin-left: 3%;
}
.progress__ {
  position: absolute;
  height: 53%;
  top: 0;
  left: 0;
  margin-top: 3%;
  margin-left: 3%;
}
#progress1 {
  visibility: var(--progress1);
  content: url(/public/img/cartoon/bee/page1/progress1.png);
}
#progress2 {
  visibility: var(--progress2);
  margin-left: 8%;
  content: url(/public/img/cartoon/bee/page1/progress2.png);
}
#progress3 {
  visibility: var(--progress3);
  margin-left: 14%;
  content: url(/public/img/cartoon/bee/page1/progress3.png);
}
#progress4 {
  visibility: var(--progress4);
  margin-left: 19%;
  content: url(/public/img/cartoon/bee/page1/progress4.png);
}
#progress5 {
  visibility: var(--progress5);
  margin-left: 25%;
  content: url(/public/img/cartoon/bee/page1/progress5.png);
}
#progress6 {
  visibility: var(--progress6);
  margin-left: 30%;
  content: url(/public/img/cartoon/bee/page1/progress5.png);
}
#progress7 {
  visibility: var(--progress7);
  margin-left: 30%;
  content: url(/public/img/cartoon/bee/page1/progress7.png);
}
#progress8 {
  visibility: var(--progress8);
  margin-left: 35%;
  content: url(/public/img/cartoon/bee/page1/progress8.png);
}
#progress9 {
  visibility: var(--progress9);
  margin-left: 40%;
  content: url(/public/img/cartoon/bee/page1/progress9.png);
}
#progress10 {
  visibility: var(--progress10);
  margin-left: 45%;
  content: url(/public/img/cartoon/bee/page1/progress10.png);
}
#progress11 {
  visibility: var(--progress11);
  margin-left: 50%;
  content: url(/public/img/cartoon/bee/page1/progress11.png);
}
#progress12 {
  visibility: var(--progress12);
  margin-left: 55%;
  content: url(/public/img/cartoon/bee/page1/progress12.png);
}
#progress13 {
  visibility: var(--progress13);
  margin-left: 60%;
  content: url(/public/img/cartoon/bee/page1/progress13.png);
}
#progress14 {
  visibility: var(--progress14);
  margin-left: 65%;
  content: url(/public/img/cartoon/bee/page1/progress14.png);
}
#progress15 {
  visibility: var(--progress15);
  margin-left: 70%;
  content: url(/public/img/cartoon/bee/page1/progress9.png);
}
#progress16 {
  visibility: var(--progress16);
  margin-left: 75%;
  content: url(/public/img/cartoon/bee/page1/progress10.png);
}
#progress17 {
  visibility: var(--progress17);
  margin-left: 80%;
  content: url(/public/img/cartoon/bee/page1/progress11.png);
}
#progress18 {
  visibility: var(--progress18);
  margin-left: 85%;
  content: url(/public/img/cartoon/bee/page1/progress12.png);
}
#progress19 {
  visibility: var(--progress19);
  margin-left: 90%;
  content: url(/public/img/cartoon/bee/page1/progress13.png);
}
#progress20 {
  visibility: var(--progress20);
  margin-left: 94.3%;
  content: url(/public/img/cartoon/bee/page1/progress13.png);
}
