/*모바일*/
@media screen and (max-width: 779px) {
    .mobileHoneyJarBg {
        background-image: url('/public/img/event/mobileDetailEventBg.png');
        background-repeat: no-repeat;
        background-size: stretch;
        height: 100vh;
    }

    .eventHeader {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 60px;
        width: 100%;
        background: url("/public/img/event/WebEventHeader.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }

    .menuBtnDiv {
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .headerMenuBtn {
        padding-top: 1vh;
        padding-right: 4vw;
        height: 1.2rem;
        width: auto;
        cursor: pointer;
    }

    .mobileHoneyJarWrapper {
        padding-top: 70px;
        overflow: scroll;
        height: 100vh;
    }


    .mobileBackToEventWrapper {
        padding-left: 2%;
        cursor: pointer;
    }

    .mobileBackToEvent {
        width: 14rem;
        height: auto;
        padding-top: 5%;
        display: block;
        padding-left: 3%;
    }

    .mobileHoneyJarContent {
        margin-top: 9%;



    }



    .mobileDetailHoneyJar {
        width: 20rem;
        height: auto;
        display: block;
        margin: 0 auto;

    }

    .mobileHoneyJarForm {
        width: 15rem;
        height: auto;
        display: block;
        margin: 0 auto;

        cursor: pointer;
        padding-bottom: 50%;
    }

    .mobileHoneyJarForm:hover {
        filter: brightness(0.8);
    }

    .empty {
        height: 20px;
    }
}

/*웹*/
@media screen and (min-width: 780px) {
    .honeyJarBg {
        background-image: url('/public/img/event/detailEventBg.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .eventHeader {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 60px;
        width: 100%;
        background: url("/public/img/event/WebEventHeader.png");
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 2;
    }

    .menuBtnDiv {}

    .headerMenuBtn {
        padding-top: 1vh;
        padding-right: 4vw;
        height: 1.2rem;
        width: auto;
        cursor: pointer;
    }

    .honeyJarWrapper {
        padding-top: 6%;
    }


    .backToEventWrapper {
        padding-left: 2%;
        cursor: pointer;
        text-align: left;
        margin-top: -4%;
    }

    .backToEvent {
        width: 14rem;
        height: auto;
    }

    .honeyJarContent {
        margin-top: 6%;
        animation: fadein 1.5s;
        -moz-animation: fadein 1.5s;
        /* Firefox */
        -webkit-animation: fadein 1.5s;
        /* Safari and Chrome */
    }

    @keyframes fadein {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-moz-keyframes fadein {

        /* Firefox */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @-webkit-keyframes fadein {

        /* Safari and Chrome */
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .detailHoneyJar {
        width: 60rem;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .HoneyJarForm {
        width: 20rem;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-top: 5%;
        cursor: pointer;
    }

    .HoneyJarForm:hover {
        filter: brightness(0.8);
    }
}