#gardener_page1 {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url("/public/img/cartoon/gardener/page1/garden1Bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  #garden1_cursor {
    content: url(/public/img/cartoon/gardener/page1/garden1cursor.png);
    position: absolute;
    width: 15%;
    top: 0;
    margin-top: 70%;
    right: 0;
    margin-right: 20%;
  }

  #garden1_first {
    content: url(/public/img/cartoon/gardener/page1/garden1first.png);
    position: absolute;
    width: 55%;
    top: 0;
    margin-top: 68%;
  }

  #garden1_second {
    content: url(/public/img/cartoon/gardener/page1/garden1second.png);
    position: absolute;
    width: 55%;
    top: 0;
    margin-top: 105%;
    right: 0;
  }