@font-face {
  -family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noons_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  -weight: normal;
  -style: normal;
}
@font-face {
  -family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noons_six@1.2/DungGeunMo.woff")
    format("woff");
  -weight: normal;
  -style: normal;
}
.gmarketFont {
  font-family: "GmarketSansMedium";
  font-weight: 400;
}
.gmarketFontBold {
  font-family: "GmarketSansMedium";
  font-weight: 700;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
