/*모바일*/
@media screen and (max-width: 768px) {
    * {
        text-align: center;
    }

    .wrapper {
        background: url("/public/img/game/background.png");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .gameheader {
        height: 8vh;
        display: flex;
    }

    .header-box {
        padding-left: 2vw;
        padding-top: 1.3vw;
    }

    .circle {
        position: absolute;
        right: 6vw;
    }

    #circle {
        width: 179.5vw;
    }

    #logo {
        width: 25vw;
    }

    .gamemiddle {
        width: 100vw;
        height: 150vh;
        display: flex;
        position: relative;
    }

    #escape {
        width: 70vw;
    }

    .escape {
        position: absolute;
        padding-top: 77vw;
        right: 0;
    }

    .howtoplay {
        position: absolute;
        padding-top: 145.5vw;
        left: 0;
        right: 0;
    }

    #howtoplay {
        width: 62vw;
    }
}