  /*모바일*/
  @media screen and (max-width: 768px) {

      .background {
          width: 100vw;
          height: 100vh;
          background-image: url('/public/img/game/background.png');
          position: fixed relative;
          z-index: 1;
      }

      .guideText {
          position: absolute;
          width: 66vw;
          height: 2vh;
          top: 11%;
          left: 17%;
          z-index: 3;
      }

      .keyWindow {
          position: absolute;
          width: 83vw;
          height: 25vh;
          /* top: 131px; */
          top: 17%;
          left: 8%;
      }

      .door {
          position: absolute;
          width: 77vw;
          height: 34vh;
          top: 44%;
          left: 12.6%;
      }

      .character {
          position: absolute;
          width: 88vw;
          height: 20vh;
          top: 79%;
          left: 8%;
      }

      .key {
          position: absolute;
          width: 15vw;
          height: 6vh;
          top: 34%;
          left: 43%;
      }
  }

  @media screen and (min-width: 768px) {
      .background {
          width: 100vw;
          height: 100vh;
          background-image: url('/public/img/game/background_web.png');
          position: fixed relative;
          z-index: 1;
          background-repeat: no-repeat;
      }

      .guideText {
          position: absolute;
          width: 270px;
          height: 17px;
          top: 93px;
          left: 58px;
          z-index: 3;
      }

      .keyWindow {
          position: absolute;
          width: 37vw;
          height: 37vh;
          top: 131px;
          left: 33px;
      }

      .door {
          position: absolute;
          width: 301px;
          height: 291px;
          top: 369px;
          left: 49px;
      }

      .character {
          position: absolute;
          width: 342px;
          height: 171px;
          top: 664px;
          left: 31px;
      }

      .key {
          position: absolute;
          width: 59px;
          height: 46.7px;
          top: 280px;
          left: 168px;
      }
  }