@media screen and (max-width: 779px) {
  #sprout_page1 {
    overflow: hidden;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    /*background-color: blue;*/
    background-image: url("/public/img/cartoon/sprout/page1/background.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .phoneFrame_wrap {
    width: 100%;
    height: 100%;
  }
  .phoneFrame {
    width: 100%;
    height: 100%;
  }
  .phoneFrameInside {
    width: 100%;
    height: 100%;
  }
}

#sprout_page1_cut1_sweat {
  top: 0;
  right: 0;
  height: 2%;
  margin-top: 22%;
  margin-right: 5%;
  content: url(/public/img/cartoon/sprout/page1/person1_sweat.png);
}
#sprout_page1_cut1_coffee_cloud1 {
  top: 0;
  right: 0;
  height: 1%;
  margin-top: 38%;
  margin-right: 35%;
  content: url(/public/img/cartoon/sprout/page1/person1_coffee_cloud1.png);
}
#sprout_page1_cut1_coffee_cloud2 {
  top: 0;
  right: 0;
  height: 3.5%;
  margin-top: 31.5%;
  margin-right: 36.5%;
  content: url(/public/img/cartoon/sprout/page1/person1_coffee_cloud2.png);
}
#sprout_page1_cut1_coffee_cloud3 {
  top: 0;
  right: 0;
  height: 4%;
  margin-top: 23%;
  margin-right: 40%;
  content: url(/public/img/cartoon/sprout/page1/person1_coffee_cloud3.png);
}
#sprout_page1_cut1_clock_wrap {
  top: 0;
  right: 0;
  width: 10%;
  height: 4.5%;
  margin-right: 25%;
  margin-top: 4%;
  /*background-color: blueviolet;*/
}
#sprout_page1_cut1_clock {
  width: 100%;
  height: 100%;
  content: url(/public/img/cartoon/sprout/page1/clock_wrap.png);
}
#sprout_page1_cut1_clock_long {
  height: 43%;
  top: 0;
  right: 0;
  margin-top: 3%;
  margin-right: -5%;
  content: url(/public/img/cartoon/sprout/page1/clock_long_line.png);
}
#sprout_page1_cut1_clock_short {
  height: 25%;
  top: 0;
  right: 0;
  margin-right: -33%;
  margin-top: 40%;
  content: url(/public/img/cartoon/sprout/page1/clock_small_line.png);
}
#sprout_page1_cut2_basketWrap {
  top: 0;
  left: 0;
  width: 18%;
  height: 8%;
  margin-top: 86%;
  margin-left: 33%;
}
#sprout_page1_cut2_basket {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/public/img/cartoon/sprout/page1/basket.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#sprout_page1_cut2_black_cat_wrap {
  overflow: var(--basket-black-cat-wrap);
  top: 0;
  margin-top: -30%;
  left: 0;
  width: 100%;
  height: 73%;
}
#sprout_page1_cut2_black_cat {
  visibility: var(--basket-black-cat);
  bottom: 0;
  left: 0;
  height: 100%;
  margin-bottom: -80%;
  content: url(/public/img/cartoon/sprout/page1/black_cat_basketpng.png);
}
.basket_cat_entrance {
  animation: basket_cat_entrance 2s forwards;
}
@keyframes basket_cat_entrance {
  from {
  }
  to {
    margin-bottom: -18%;
  }
}
#sprout_page1_cut2_basket_effect {
  visibility: var(--basket-effect);
  top: 0;
  left: 0;
  height: 40%;
  margin-left: -10%;
  margin-top: -10%;
  content: url(/public/img/cartoon/sprout/page1/basket_swing_effect.png);
}
#sprout_page1_mouse {
  visibility: var(--sprout-page1-mouse);
  bottom: 0;
  right: 0;
  width: 40%;
  margin-right: -40%;
  margin-bottom: -50%;
  content: url(/public/img/cartoon/bee/page1/poster/mouse.png);
}
.sprout_page1_mouse_move {
  animation: sprout_page1_mouse 3s infinite;
}
@keyframes sprout_page1_mouse {
  from {
  }
  to {
    margin-bottom: -10%;
    margin-right: -10%;
  }
}
#sprout_page1_cut2_person1_check {
  visibility: var(--sprout-page1-talk1);
  top: 0;
  left: 0;
  height: 3.3%;
  margin-top: 69%;
  margin-left: 25%;
  content: url(/public/img/cartoon/sprout/page1/person2_check.png);
}
#sprout_page1_cut2_cat_talk {
  visibility: var(--basket-black-cat-talk);
  top: 0;
  left: 0;
  height: 3%;
  margin-top: 76%;
  margin-left: 33%;
  content: url(/public/img/cartoon/sprout/page1/cat_talk.png);
}
#sprout_page1_cut2_person2_heart {
  visibility: var(--sprout-page1-talk3);
  top: 0;
  right: 0;
  height: 3.3%;
  margin-top: 65%;
  margin-right: 29%;
  content: url(/public/img/cartoon/sprout/page1/person3_heart.png);
}
#sprout_page1_cut2_person2_talk {
  visibility: var(--sprout-page1-talk2);
  top: 0;
  right: 0;
  height: 3.5%;
  margin-top: 74%;
  margin-right: 30%;
  content: url(/public/img/cartoon/sprout/page1/person3_talk.png);
}
#sprout_page1_cut2_person1_hair {
  top: 0;
  left: 0;
  height: 6.5%;
  margin-top: 77.5%;
  margin-left: 2%;
  content: url(/public/img/cartoon/sprout/page1/person2_hair.png);
}
.hair_swing {
  transform-origin: 100% 50%;
  animation: hair_swing 5s infinite alternate;
}
@keyframes hair_swing {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
#sprout_page1_cut3_cat {
  content: url(/public/img/cartoon/sprout/page1/black_cat.png);
  bottom: 0;
  right: 0;
  height: 4%;
  margin-bottom: 66%;
  margin-right: 15%;
}
#sprout_page1_cut3_downTree {
  bottom: 0;
  right: 0;
  height: 8%;
  margin-bottom: 58%;
  margin-right: 22%;
  content: url(/public/img/cartoon/sprout/page1/tree_down.png);
}
#sprout_page1_cut3_person_effect {
  bottom: 0;
  right: 0;
  height: 1.2%;
  margin-bottom: 88.5%;
  margin-right: 26%;
  content: url(/public/img/cartoon/sprout/page1/person_in_window_effect.png);
}
#sprout_page1_cut3_persons {
  bottom: 0;
  left: 0;
  height: 31%;
  margin-left: -90%;
  content: url(/public/img/cartoon/sprout/page1/person4_5.png);
}
.persons_move {
  animation: persons_move 8s forwards linear;
}
@keyframes persons_move {
  from {
  }
  20% {
    margin-bottom: -5%;
  }
  40% {
    margin-bottom: 0%;
  }
  60% {
    margin-bottom: -5%;
  }
  80% {
    margin-bottom: 0%;
  }
  to {
    margin-left: 6%;
  }
}
#sprout_page1_cut3_person_heart {
  visibility: var(--sprout-page1-person-heart);
  left: 0;
  bottom: 0;
  height: 5%;
  margin-bottom: 55%;
  margin-left: 11.5%;
  content: url(/public/img/cartoon/sprout/page1/person4_heart.png);
}
