#sprout_page4 {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /*background-color: blue;*/
  background-image: url("/public/img/cartoon/sprout/page4/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#sprout_page4_cloud1 {
  top: 0;
  left: 0;
  height: 1.3%;
  margin-left: 15%;
  margin-top: 49%;
  content: url(/public/img/cartoon/sprout/page4/cloud1.png);
}
#sprout_page4_cloud2 {
  top: 0;
  right: 0;
  height: 3%;
  margin-top: 7%;
  margin-right: 20%;
  opacity: 40%;
  content: url(/public/img/cartoon/sprout/page4/cloud2.png);
}
#sprout_page4_cloud3 {
  top: 0;
  left: 0;
  height: 3%;
  margin-top: 15%;
  margin-left: 10%;
  opacity: 40%;
  content: url(/public/img/cartoon/sprout/page4/cloud3.png);
}
#sprout_page4_merryGoRound_wrap {
  width: 45%;
  height: 16%;
  top: 0;
  left: 0;
  margin-top: 70%;
  margin-left: 10%;
  background-image: url(/public/img/cartoon/sprout/page4/merry_go_round.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#sprout_page4_merryGoRound_horse1 {
  background-origin: 0;
  left: 0;
  bottom: 0;
  height: 25%;
  margin-bottom: 6%;
  margin-left: 17%;
  content: url(/public/img/cartoon/sprout/page4/horse.png);
}
#sprout_page4_merryGoRound_horse2 {
  background-origin: 0;
  left: 0;
  bottom: 0;
  height: 25%;
  margin-bottom: 12%;
  margin-left: 37%;
  content: url(/public/img/cartoon/sprout/page4/horse.png);
}
#sprout_page4_merryGoRound_horse3 {
  background-origin: 0;
  left: 0;
  bottom: 0;
  height: 25%;
  margin-bottom: 6%;
  margin-left: 57%;
  content: url(/public/img/cartoon/sprout/page4/horse.png);
}
#sprout_page4_train1_wrap {
  width: 48%;
  height: 8%;
  bottom: 0;
  right: 0;
  margin-right: -50%;
  margin-bottom: 90%;
  /*background-color: aquamarine;*/
}
#sprout_page4_train1 {
  top: 0;
  right: 0;
  height: 90%;
  width: 100%;
  margin-right: 3%;
  content: url(/public/img/cartoon/sprout/page4/train.png);
}
.sprout_page4_train1_wheel {
  bottom: 0;
  height: 25%;
  right: 0;
  margin-bottom: 1%;
  content: url(/public/img/cartoon/sprout/page4/train1_wheel.png);
}
#sprout_page4_train1_wheel1 {
  margin-right: 90%;
}
#sprout_page4_train1_wheel2 {
  margin-right: 80%;
}
#sprout_page4_train1_wheel3 {
  height: 35%;
  margin-right: 66%;
}
#sprout_page4_train1_wheel4 {
  margin-right: 49%;
}
#sprout_page4_train1_wheel5 {
  margin-right: 38%;
}
#sprout_page4_train1_wheel6 {
  margin-right: 18%;
}
#sprout_page4_train1_wheel7 {
  margin-right: 7%;
}
#sprout_page4_train2 {
  top: 0;
  right: 0;
  height: 5%;
  margin-top: 61%;
  margin-right: 20%;
  content: url(/public/img/cartoon/sprout/page4/train2.png);
}
#sprout_page4_persons {
  bottom: 0;
  left: 0;
  right: 0;
  height: 45%;
  margin: 0 auto;
  content: url(/public/img/cartoon/sprout/page4/persons.png);
}
#sprout_page4_persons_effect {
  bottom: 0;
  height: 6%;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 80%;
  content: url(/public/img/cartoon/sprout/page4/persons_effect.png);
}
