
.floatingBtn2{
  display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgb(0 0 0 / 19%);
    border-radius: 56px;
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 150px;
    left: 85vw;
}

.floatingBtn2 img{
    margin: 20px;
    width: 60%;
    height: 60%;
}

.floatingBtn3{
  display: inline-block;
    /* background: #FFFFFF; */
    /* box-shadow: 0px 4px 5px rgb(0 0 0 / 19%); */
    /* border-radius: 56px; */
    width: 100px;
    height: 100px;
    bottom: 30px;
    position: fixed;
    left: 85vw;
}

.floatingBtn3 img{
  width: 88%;
}