.timeTableBg {
    background-image: url("/public/img/event/WebEventBg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.timeTableWrapper {
    padding-top: 7%;
}

.fullEvent {
    width: 30rem;
}