.timetable-mFullBox{
   
}

.ttDataBox{
    background-image: url("/public/img/timetable/timeTable_background_m.png");
    background-size: cover;
    /* height: 100vh; */
    padding: 40px 40px 0px 40px;;
}
.ttTitle{    
    padding-top: 62px;
    font-size: 27px;
    line-height: 21px;
    width: fit-content;
    padding-bottom: 17px;
}

.ttSubTitle{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #853C3B;
    width: fit-content;
    padding-bottom: 35px;
}

.ttEvent{
    padding-bottom: 30px;
}

.ttEventBox{
    padding: 5px 20px 5px 20px;
    width: fit-content;
    color: white;
    background: #EA897F;
    font-size: 20px;
    border-radius: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.ttEventDesc{
    display: flex;
    justify-content: space-between;;
}

.ttEventDesc-title{
    text-align:left;
    font-weight: 600;
}

.ttEventDesc-time{
    text-align:left;
    font-weight: 600;
}

.ttBox{
    padding: 40px;

}

.ttBox h3{
    padding-bottom: 20px;
}

.ttBoxImg{
    width: 100%;
}