/*웹*/

.timeTableBg {
    background-image: url("/public/img/event/WebEventBg.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.timeTableWrapper {
    padding-top: 7%;

}

.fullEvent {
    width: 30rem;
}

.timeIcons {
    width: 60rem;
    display: block;
    margin: 0 auto;
}


/*모바일*/

.mobileTimeTableWrapper {
    width: 100%;
    margin: 0;
}

.mobileFullEvent {
    width: 100%;
    display: block;
    margin: 0 auto;
}
