.ttl_back{
    background-image: url("/public/img/timetable/timeTableOut.png");
    background-size: cover;
    height: 100vh;
    display: flex;
    /* padding: 40px 40px 0px 40px; */
    align-items: center;
    justify-content: center;
}

.ttl_back_title{
    background: #FFFFFF;
    border-radius: 18px;
    height: 130px;
    width: 980px;
    font-weight: 600;
    font-size: 40px;
    line-height: 130px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

@media screen and (max-width: 768px) {
    .ttl_back{
        height: 90vh;
    }
    .ttl_back_title{
        background: #FFFFFF;
        border-radius: 18px;
        height: 58px;
        width: 90vw;
        font-weight: 600;
        font-size: 23px;
        line-height: 53px;
        text-align: center;
        color: #000000;
    }
}
