* {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 779px) {
  #mushroom_page3 {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url("/public/img/cartoon/mushroom/page3/mush3Bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}

#mush3_passer {
  content: url(/public/img/cartoon/mushroom/page3/mush3passer.png);
  position: absolute;
  height: 30%;
  top: 0;
  margin-top: 60%;
  left: 0;
  margin-left: 33%;
}

#mush3_missedu {
  content: url(/public/img/cartoon/mushroom/page3/mush3missedu.png);
  position: absolute;
  bottom: 0;
  margin-bottom: 95%;
  left: 0;
  margin-left: 5%;
  width: 44%;
  opacity: 0;
  animation: appear-animation 0.5s ease-in;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

/* 효과 나타나기 */
@keyframes appear-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* 하이파이브 효과 */
#mush3_effect {
  content: url(/public/img/cartoon/mushroom/page3/mush3effect.png);
  position: absolute;
  bottom: 0;
  margin-bottom: 88%;
  left: 0;
  right: 0;
  margin-left: 59%;
  opacity: 0;
  animation: appear-animation 0.5s;
  animation-delay: 1s;
}

#mush3_highfive1 {
  content: url(/public/img/cartoon/mushroom/page3/mush3highfive1.png);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 63%;
  margin-bottom: -1%;
}

#mush3_heart {
  content: url(/public/img/cartoon/mushroom/page3/mush3heart.png);
  position: absolute;
  bottom: 0;
  margin-bottom: 30%;
  right: 0;
  margin-right: 35%;
  opacity: 0;
  animation: appear-animation 0.5s ease-in;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;
}

/* 하이파이브 등장 */
@keyframes highfive-move {
  0% {
    margin-right: -18%;
  }
  100% {
  }
}

/* 하이파이브하는 사람 */
#mush3_highfive2 {
  content: url(/public/img/cartoon/mushroom/page3/mush3highfive2.png);
  position: absolute;
  bottom: 0;
  right: 0;
  /* margin-right: -18%; */
  animation: highfive-move 1s ease-in;
  width: 64%;
}
